.layer
{
	padding-top: $rem * 60;
	padding-bottom: $rem * 60;
	@media (max-width: $media-1024)
	{
		padding-top: $rem * 40;
		padding-bottom: $rem * 40;
	}
	@media (max-width: $media-480)
	{
		padding-top: $rem * 30;
		padding-bottom: $rem * 30;
	}
	&--promo
	{
		position: relative;
		padding-top: $rem * 120;
		padding-bottom: $rem * 140;
		box-shadow: $rem * 10 $rem * 10 $rem * 20 rgba(0, 0, 0, 0.1);
		overflow: hidden;
		margin-bottom: $rem * 60;
		@media (max-width: $media-1400)
		{
			padding-top: $rem * 80;
		}
		@media (max-width: $media-1024)
		{
			padding-bottom: $rem * 80;
		}
		@media (max-width: $media-480)
		{
			padding-top: $rem * 60;
			padding-bottom: 0;
			margin-bottom: $rem * 30;
			box-shadow: none;
		}
	}
}
