.carousel
	.carousel__list.carousel-list
		.carousel__item
			.card
				img.card__img(src="img/worker-1.jpg" alt="")
				.card__name Илья
				.card__description Мастер по ремонту, опыт 5 лет. В «Белом Сервисе» с июля 2020
				.card__statistics Более 4 800 выполненных работ
				.card__quote Определю любую причину поломки!
		.carousel__item
			.card
				img.card__img(src="img/worker-2.jpg" alt="")
				.card__name Александр
				.card__description Мастер по ремонту, опыт 4,5 года. В «Белом Сервисе» с августа 2020
				.card__statistics Более 5 200 выполненных работ
				.card__quote Верну к жизни, как самые первые модели, так и новинки  смартонов.
		.carousel__item
			.card
				img.card__img(src="img/worker-3.jpg" alt="")
				.card__name Андрей
				.card__description Мастер по ремонту и переклейке дисплеев, опыт 5 лет. В «Белом Сервисе» с сентября 2020
				.card__statistics Более 4 800 выполненных работ
				.card__quote Ремонт Apple – мой конек!
		.carousel__item
			.card
				img.card__img(src="img/worker-4.jpg" alt="")
				.card__name Дмитрий
				.card__description Мастер по ремонту, опыт 9 лет.В «Белом Сервисе» с марта 2020
				.card__statistics Более 4 800 выполненных работ
				.card__quote Мы даем гарантию и исполняем ее. На технику – это всегда год.
		.carousel__item
			.card
				img.card__img(src="img/worker-2.jpg" alt="")
				.card__name Александр
				.card__description Мастер по ремонту, опыт 4,5 года. В «Белом Сервисе» с августа 2020
				.card__statistics Более 5 200 выполненных работ
				.card__quote Верну к жизни, как самые первые модели, так и новинки  смартонов.
		.carousel__item
			.card
				img.card__img(src="img/worker-3.jpg" alt="")
				.card__name Андрей
				.card__description Мастер по ремонту и переклейке дисплеев, опыт 5 лет. В «Белом Сервисе» с сентября 2020
				.card__statistics Более 4 800 выполненных работ
				.card__quote Ремонт Apple – мой конек!
	.carousel__nav
		button.carousel__nav-btn.carousel__nav-btn--prev.button-prev
			.arrow.arrow--black
		button.carousel__nav-btn.carousel__nav-btn--next.button-next
			.arrow.arrow--black
