.layer
	.wrap
		.gallery
			.gallery__item
				img.gallery__img(src="img/service-1.jpg", alt="")
			.gallery__item
				include gallery-info
			.gallery__item
				img.gallery__img(src="img/service-2.jpg", alt="")
			.gallery__item
				img.gallery__img(src="img/service-3.jpg", alt="")
