.gallery-info
	h2.gallery-info__title.title-2 Сервисные центры
	.gallery-info__paragraphs
		p.gallery-info__text.text Первый сервисный центр Белый Сервис распахнул свои двери 28 марта 2012 года по адресу г. Челябинск, ул. Энгельса 75.
		p.gallery-info__text.text На текущий момент «Белый Сервис» имеет три илиала со своими приемщиками и мастерами. Гибко распределяем рабочую нагрузку: если персонал на одной из точек перегружен заказами, то часть работ передается их менее загруженным коллегам из другого илиала.
	button.gallery-info__button.button Показать адреса
