header.header
	.wrap
		.header__main
			.logo
				img.logo__img--desctop(src="img/logo.svg", alt="")
				img.logo__img--mobile(src="img/logo-mobile.svg", alt="")
			ul.subnav
				li.subnav__item
					a.subnav__item-link(href="")
						span.subnav__item-link-text Контакты
				li.subnav__item
					a.subnav__item-link(href="")
						img.subnav__item-link-icon(src="img/sprite.svg#i-star", alt="")
						span.subnav__item-link-text Отзывы
				li.subnav__item
					a.subnav__item-link(href="")
						span.subnav__item-link-text Гарантия
			.contacts
				.contacts__time Звоните, пн-вс 10:00 - 20:00
				.contacts__phone +7 351 220 77 04
	.header__separator
	.wrap
		.header__mobile
			button.burger
				.burger__item
				.burger__item
				.burger__item
			button.button-accent Связаться
		nav.header__nav
			ul.header__nav-list
				li.header__nav-list-item
					a.header__nav-list-item-link(href="#")
					img.header__nav-list-item-icon(src="img/sprite.svg#i-header-nav-1", alt="")
					.header__nav-list-item-text Каталог
				li.header__nav-list-item
					a.header__nav-list-item-link(href="#")
					img.header__nav-list-item-icon(src="img/sprite.svg#i-header-nav-2", alt="")
					.header__nav-list-item-text Ремонт Apple
					.header__nav-list-item-arrow.arrow.arrow--accent.arrow--small
				li.header__nav-list-item
					a.header__nav-list-item-link(href="#")
					img.header__nav-list-item-icon(src="img/sprite.svg#i-header-nav-3", alt="")
					.header__nav-list-item-text Ремонт смартонов
					.header__nav-list-item-arrow.arrow.arrow--accent.arrow--small
				li.header__nav-list-item
					a.header__nav-list-item-link(href="#")
					img.header__nav-list-item-icon(src="img/sprite.svg#i-header-nav-4", alt="")
					.header__nav-list-item-text Ремонт планшетов
					.header__nav-list-item-arrow.arrow.arrow--accent.arrow--small
				li.header__nav-list-item
					a.header__nav-list-item-link(href="#")
					img.header__nav-list-item-icon(src="img/sprite.svg#i-header-nav-5", alt="")
					.header__nav-list-item-text Ремонт ноутбуков
					.header__nav-list-item-arrow.arrow.arrow--accent.arrow--small
