.layer.layer--promo
	img.promo__img(src="img/promo.png", alt="")
	.wrap
		.promo
			.promo__info.promo-info
				h1.promo-info__title.title-1 Сервисный центр
				.promo-info__text Ремонт планшетов в Челябинске. Бесплатно продиагностируем и быстро починим любую поломку. Гарантия 3 месяца
				a.promo-info__button.button-dialog(href="#")
					.button-dialog__arrow.arrow.arrow--white
					.button-dialog__text Записаться на диагностику
				ul.promo-info-list
					li.promo-info-list__item
						.promo-info-list__item-icon
							img(src="img/sprite.svg#i-promo-1", alt="")
						.promo-info-list__item-text Починим даже то, от чего отказались другие
					li.promo-info-list__item
						.promo-info-list__item-icon
							img(src="img/sprite.svg#i-promo-2", alt="")
						.promo-info-list__item-text Гарантия нашего сервиса 3 месяца
					li.promo-info-list__item
						.promo-info-list__item-icon
							img(src="img/sprite.svg#i-promo-3", alt="")
						.promo-info-list__item-text Собственная выгодная бонусная система
					li.promo-info-list__item
						.promo-info-list__item-icon
							img(src="img/sprite.svg#i-promo-4", alt="")
						.promo-info-list__item-text Бесплатная диагностика даже при отказе от ремонта
