.layer
	.wrap
		.specialists
			h2.specialists__title.title-3 Ремонт осуществляется #[br] первоклассными специалистами
			p.specialists__subtitle Средний опыт работы наших мастеров 4 года
			include carousel
