html
{
	font-size: 16px;
}
body
{
	font-family: $font-main;
	font-weight: $font-main-weight-medium;
	color: $clr-black;
}
.wrap
{
	max-width: $rem * 1560;
	padding: 0 $rem * 20;
	box-sizing: border-box;
	margin: 0 auto;
}
